<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp2.Properties.Settings.manager" connectionString="Data Source=localhost;Persist Security Info=True;User ID=foo_stefane;Password=foo_stefane;Unicode=True"
            providerName="System.Data.OracleClient" />
        <add name="WindowsFormsApp2.Properties.Settings.newConnectionString"
            connectionString="DATA SOURCE=localhost:1521/xe;PASSWORD=foo_dba;PERSIST SECURITY INFO=True;USER ID=FOO_DBA"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>